

<nav class="navbar bg-dark">
  <div class="container">
    <h1 class="navbar-brand mb-3 h1">{{title}}</h1>
  </div>
</nav>
<br>
<div class="container">
  <form action="">
    <span>Numero a: </span><input type="number" name="num1" id="" [(ngModel)]="num1">
    <br>
    <br>
    <span>Numero b: </span><input type="number" name="num2" id="" [(ngModel)]="num2">
    <br>
    <br>
    <br>
    <input type="submit" value="+" (click)="sum()" class="btn btn-outline-primary operacion">
    <input type="submit" value="-" (click)="rest()" class="btn btn-outline-success operacion">
    <input type="submit" value="x" (click)="mult()" class="btn btn-outline-warning operacion">
    <input type="submit" value="÷" (click)="div()" class="btn btn-outline-info operacion">
    <br>
    <br>
    <br>
  </form>
</div>
<div class="container">
  <span class="result">RESULTADO: </span>
<span class="result igual">{{result}}</span>
</div>